*.o
*.so
vhdlpp/vhdlpp
vhdlpp/vhdlpp_tests
parse.cc
lexor.cc
lexor_keyword.cc
parse.h
parse.output
vhdlpp/vhdl_testfiles/*.cf
vhdlpp/ast_dumper
vhdlpp/unit_tests

config.log
config.h
config.status
configure
autom4te.cache/
